.illustration {
    max-width: 1920px;
    margin-top: 99px;
    position: relative;
    z-index: 50;
    &__list {
        display: flex;
        justify-content: center;
        column-gap: 24px;
        &-item {
            display: flex;
            flex-direction: column;
            align-items: center;
            max-width: 476px;
        }
        &-img {
            width: 240px;
        }
        &-text {
            color: #CECFDB;
            font-size: 36px;
            font-weight: 500;
            line-height: 48px;
            letter-spacing: -2px;
            @media (min-width: 1290px) {
                font-size: 26px;
            }
        }
    }
}