<section class="demonstration">
    <h2 class="demonstration__title">Технология и инновации</h2>
    <ul class="demonstration__list">
      <li class="demonstration__list-item undotted">
        <div class="demonstration__list-inner">
          <img src="./img/propeller.png" alt="" class="demonstration__list-img demonstration__list-img--propeller">
          <img src="./img/dotted.svg" alt="" class="demonstration__list-img demonstration__list-img--dotted">
        </div>
        <p class="demonstration__list-text">Моделирование воздушного потока</p>
      </li>
      <li class="demonstration__list-item undotted">
        <div class="demonstration__list-inner">
          <img src="./img/swif-left.svg" alt="">
          <img src="./img/building.png" alt="" class="demonstration__list-img demonstration__list-img--building">
          <img src="./img/swif-right.svg" alt="">
        </div>
        <p class="demonstration__list-text">Трехмерная визуализация</p>
      </li>
    </ul>
    <div class="demonstration__slide">
      <div class="demonstration__slide-track"></div>
      <div class="demonstration__slide-wrapper">
        <div class="demonstration__slide-inner">
          <img src="./img/hexagon.svg" alt="" class="demonstration__slide-hexagon">
          <img src="./img/Finger.svg" alt="" class="demonstration__slide-finger">
        </div>
      </div>
    </div>
  </section>