<header class="container header">
    <ul class="header__list">
      <li class="header__list-item header__list-item--logo undotted"><a href="#" class="header__list-link"><img src="./img/logo.svg" alt="bun company W.E.T.E.R" class="header__list-img"></a></li>
      <li class="header__list-item undotted"><a href="#" class="header__list-link"><img src="./img/logo-text.svg" alt="bun company W.E.T.E.R" class="header__list-img"></a></li>
      <li class="header__list-item header__list-item--main header__list-item--hidden undotted"><a href="#" class="header__list-link">Главная страница</a></li>
      <li class="header__list-item header__list-item--hidden undotted"><a href="#" class="header__list-link">Автор</a></li>
      <li class="header__list-item header__list-item--hidden undotted"><a href="#" class="header__list-link">Кабинет инвестора</a></li>
      <li class="header__list-item header__list-item--hidden undotted"><a href="#" class="header__list-link">RU</a></li>
      <li class="header__list-item header__list-item header__list-item--btn undotted"><button class="header__list-btn header__list-btn--js"></button></li>
    </ul>
    <ul class="header-mobile__list">
      <div class="overflow"></div>
      <li class="header-mobile__list-item header__list-item--main undotted"><a href="#" class="header__list-link">Главная страница</a></li>
      <li class="header-mobile__list-item undotted"><a href="#" class="header__list-link">Автор</a></li>
      <li class="header-mobile__list-item undotted"><a href="#" class="header__list-link">Кабинет инвестора</a></li>
      <li class="header-mobile__list-item undotted"><a href="#" class="header__list-link">RU</a></li>
      <li class="header-mobile__list-item undotted"><button href="#" class="header__list-link header__list-btn--close">X</button></li>
    </ul>
  </header>