<section class="container illustration">
    <ul class="illustration__list">
      <li class="illustration__list-item undotted">
        <img src="./img/Illustration.png" alt="" class="illustration__list-img">
        <p class="illustration__list-text">Аэродинамические щиты избавляют возвращающуюся лопатку от сопротивления</p>
      </li>
      <li class="illustration__list-item undotted">
        <img src="./img/Illustration2.png" alt="" class="illustration__list-img">
        <p class="illustration__list-text">Здания концентрируют воздушный поток</p>
      </li>
      <li class="illustration__list-item undotted">
        <img src="./img/Illustration3.png" alt="" class="illustration__list-img">
        <p class="illustration__list-text">На статичной оси расположены независимые модули</p>
      </li>
    </ul>
  </section>