<section class="container main">
    <div class="news">
      <div class="news__hero">
        <p class="news__hero-text">06 Дек. 16:24</p>
        <img src="./img/tangonan.png" alt="" class="news__hero-img">
      </div>
      <div class="news__info">
        <a href="#" class="news__info-title">Бизнес-встреча в Дубаи</a>
        <ul class="news__info-list news__info-list--top">
          <li class="news__info-item undotted"><img src="./img/eye.svg" alt="" class="news__info-img"><a href="#" class="news__info-link">18k</a></li>
          <li class="news__info-item undotted"><img src="./img/heart.svg" alt="" class="news__info-img"><a href="#" class="news__info-link">3974</a></li>
          <li class="news__info-item undotted"><a href="#" class="news__info-link news__info-link--read">Читать ›</a></li>
        </ul>
        <ul class="news__info-list news__info-list--nav">
          <li class="news__info-item--prev undotted"><a href="#" class="news__info-link news__info-link--prev">Пред.</a></li>
          <li class="news__info-item--next undotted"><a href="#" class="news__info-link">Следующая ›</a></li>
        </ul>
      </div>
    </div>
    <div class="banner">
      <div class="banner__top">
        <div>
          <p class="banner__text">W.E.T.E.R</p>
          <h1 class="banner__title">Wind Energy Technology
            Era Renewable</h1>
          <p class="banner__subtext">Здание, способное обеспечить себя электрической энергией с помощью ветра</p>
        </div>
        <div class="banner__social">
          <a class="banner__social-link" href="#"><img src="./img/tg.svg" alt="" class="banner__social-img"></a>
          <a class="banner__social-link" href="#"><img src="./img/inst.svg" alt="" class="banner__social-img"></a>
        </div>
      </div>
      <div class="banner__play">
        <a href="https://www.youtube.com/watch?v=URt5RjFAYaA&list=TLGG7E_F9DtfyJAxOTA2MjAyMw"><img src="./img/play.svg" alt=""></a>
        <ul class="banner__play-list">
          <li class="banner__play-item undotted"><p class="banner__play-text">Видео-презентация проекта</p></li>
          <li class="banner__play-item undotted"><p class="banner__play-text banner__play-text--time">09:12</p></li>
        </ul>
      </div>
    </div>
  </section>